.breadcrumbs {
    padding-top: 25px;
    padding-bottom: 25px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 16px;
        color: var(--clr-breadcrumb);
    }

    &__item {
        position: relative;
        white-space: nowrap;

        &:not(:last-child) {
            &::after {
                content: "/";
                margin-right: 6px;
                margin-left: 2px;
            }
        }

        &--active {
            color: var(--clr-main);
        }
    }
}
