.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    &--white {
        color: var(--clr-light);

        .header__nav-link::after {
            background-color: var(--clr-light);
        }

        .header__cart {
            svg {
                fill: var(--clr-light);
            }

            .header__cart-counter {
                color: var(--clr-main);
                background-color: var(--clr-light);
            }
        }

        .header__burger {
            &::after,
            &::before,
            span {
                background-color: var(--clr-light);
            }
        }

        .header__language {
            color: var(--clr-light);

            &-top {
                svg {
                    fill: var(--clr-light);
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1200px) {
            justify-content: initial;
        }
    }

    &__logo {
        width: 100%;
        max-width: 121px;
        max-height: 70px;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        @media (max-width: 1200px) {
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__nav {
        @media (max-width: 1200px) {
            position: fixed;
            left: -100%;
            top: 0;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: var(--clr-main);
            transition: left $ms * 3 $ms * 2;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

            &--active {
                left: 0;
                transition: left $ms * 3;
                transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

                .header__nav-link {
                    opacity: 1;
                    transform: translateY(0);
                    transition: transform $ms * 2 $ms * 3, opacity $ms * 2 $ms * 3;
                    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out;
                }

                .header__contact-link {
                    opacity: 1;
                    transform: translateY(0);
                    transition: transform $ms * 2 $ms * 3, opacity $ms * 2 $ms * 3;
                    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), ease-in-out;
                }

                .header__contact-lang::before {
                    opacity: 1;
                    transition: opacity $ms * 2 $ms * 3;
                }
            }
        }
    }

    &__nav-list {
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
            display: block;
            overflow: auto;
            padding: 50px 15px;
            text-align: center;
        }
    }

    &__nav-item {
        &:not(:last-child) {
            margin-right: 30px;

            @media (max-width: 1400px) {
                margin-right: 22px;
            }
        }

        @media (max-width: 1200px) {
            overflow: hidden;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }

    &__nav-link {
        position: relative;
        padding-top: 29px;
        padding-bottom: 29px;

        @media (min-width: 1201px) {
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 24px;
                z-index: -1;
                width: 0;
                height: 2px;
                background-color: var(--clr-main);
                transform: translateX(-50%);
                transition: width $ms;
            }
            &:hover,
            &:focus {
                &::after {
                    width: 100%;
                    transition: width $ms;
                }
            }

            &--active {
                &::after {
                    width: 100%;
                }
            }
        }

        @media (max-width: 1200px) {
            @include adaptiv-value("font-size", 40, 18, 1);

            display: inline-block;
            padding-top: 0;
            padding-bottom: 0;
            text-transform: uppercase;
            color: var(--clr-light);
            opacity: 0;
            transform: translateY(100%);
            transition: opacity $ms * 2, transform $ms * 2;
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }

    &__contact {
        display: none;

        @media (max-width: 1200px) {
            display: block;
            overflow: hidden;
            color: var(--clr-light);

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &--first {
                margin-top: 95px;
            }
        }
    }

    &__contact-link {
        display: inline-block;
        font-size: 18px;
        opacity: 0;
        transform: translateY(100%);
        transition: opacity $ms * 2, transform $ms * 2;
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &__contact-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__contact-lang {
        opacity: 0.55;

        &--active {
            opacity: 1;
        }

        &:not(:last-child) {
            position: relative;
            margin-right: 14px;
            padding-right: 14px;

            &::before {
                content: "";
                position: absolute;
                right: -1px;
                top: 50%;
                width: 1px;
                height: 100%;
                background-color: var(--clr-light);
                opacity: 0;
                transform: translateY(-50%);
            }
        }
    }

    &__cart {
        position: relative;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    &__cart-counter {
        position: absolute;
        right: -2px;
        top: -4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 2px 6px;
        color: var(--clr-light);
        background-color: var(--clr-main);
    }

    &__language {
        position: relative;
        border-right: 1px solid var(--clr-border);
        border-left: 1px solid var(--clr-border);
        padding: 8px 30px;
        font-size: 18px;
        cursor: pointer;

        &-top {
            display: flex;
            align-items: center;

            svg {
                margin-left: 7px;
                width: 8px;
                height: 4px;
                fill: none;
                stroke: var(--clr-main);
                transform: rotate(180deg);
                transition: transform $ms;
            }
        }

        &-dropdown {
            position: absolute;
            left: -1px;
            right: -1px;
            top: 100%;
            border-right: 1px solid var(--clr-border);
            border-left: 1px solid var(--clr-border);
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity $ms, visibility $ms;

            &-item {
                a {
                    display: block;
                    padding: 3px 5px;
                }

                span {
                    display: inline-block;
                    transform: translateX(-7px);
                }
            }
        }

        &:hover,
        &:focus {
            .header__language-dropdown {
                opacity: 1;
                visibility: visible;
                transition: opacity $ms, visibility $ms;
            }

            .header__language-top {
                svg {
                    transform: rotate(0);
                    transition: transform $ms;
                }
            }
        }

        @media (max-width: 1400px) {
            padding: 8px 20px;
        }

        @media (max-width: 1200px) {
            margin-right: 20px;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    &__burger {
        display: none;

        @media (max-width: 1200px) {
            position: relative;
            z-index: 15;
            display: block;
            width: 40px;
            height: 25px;
            background-color: transparent;

            &:focus {
                outline: none;
            }

            &::after,
            &::before,
            span {
                content: "";
                position: absolute;
                left: 0;
                border-radius: 8px;
                width: 100%;
                height: 2px;
                background-color: var(--clr-main);
                transition: background-color $ms * 2;
            }

            &::before {
                top: 0;
                transition: transform $ms * 2, $ms * 2;
            }
            &::after {
                bottom: 0;
                transition: transform $ms * 2, bottom $ms * 2;
            }
            span {
                top: 11px;
                transition: transform $ms * 2;
            }

            &--active {
                &::after,
                &::before,
                span {
                    background-color: var(--clr-light);
                    transition: background-color $ms * 2;
                }
                span {
                    transform: scale(0);
                    transition: transform $ms * 2;
                }
                &::before {
                    top: 12px;
                    transform: rotate(45deg);
                    transition: transform $ms * 2, top $ms * 2;
                }
                &::after {
                    bottom: 11px;
                    transform: rotate(-45deg);
                    transition: transform $ms * 2, bottom $ms * 2;
                }
            }
        }
    }
}
