.about {
    .container {
        max-width: 1250px;
    }

    &__main {
        display: flex;
    }

    &__quote-name {
        position: relative;
        margin-top: 50px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -10px;
            width: 116px;
            height: 1px;
            background-color: var(--clr-main);
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--quote {
            .about__item-image {
                max-height: 425px;

                img {
                    max-height: 425px;
                }
            }

            .about__item-info {
                position: relative;
                margin-right: auto;
                margin-left: auto;
                max-width: 510px;

                &::before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: -40px;
                    z-index: -1;
                    width: 81px;
                    height: 62px;
                    background-image: url("../img/ui/quotes.svg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                @media (max-width: 992px) {
                    margin-top: 20px;
                }
            }
        }

        &--reverse {
            flex-direction: row-reverse;
        }

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__item-info {
        @include adaptiv-value("font-size", 18, 16, 1);

        flex: 0 1 48%;
        line-height: 140%;

        @media (max-width: 992px) {
            flex: 0 1 100%;
            margin-bottom: 30px;
        }
    }

    &__item-title {
        @include adaptiv-value("font-size", 24, 20, 1);

        margin-bottom: 25px;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;

        svg {
            width: 13px;
            height: 13px;
        }

        &--first {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }

    &__item-list {
        padding-left: 20px;
    }

    &__item-list-item {
        list-style-type: disc;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__item-image {
        flex: 0 1 48%;
        width: 100%;
        max-width: 580px;
        max-height: 794px;

        img {
            width: 100%;
            height: auto;
            max-height: 794px;
            object-fit: cover;
        }

        @media (max-width: 992px) {
            flex: 0 1 100%;
            margin-bottom: 30px;
        }
    }

    &__item-text {
        margin-bottom: 15px;
    }

    &__philo {
        @include adaptiv-value("font-size", 24, 18, 1);

        margin-top: 105px;
        margin-bottom: 105px;
        padding-top: 115px;
        padding-bottom: 115px;
        width: 100%;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;
        text-align: center;
        color: var(--clr-light);
        background-image: url("../img/aboutPage/image1.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (max-width: 1250px) {
            margin-left: -15px;
            width: calc(100% + 30px);
        }

        @media (max-width: 992px) {
            margin-top: 50px;
            margin-bottom: 80px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__philo-item {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        max-width: 1130px;

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }
}
