//<МИКСИНЫ>===================================
@import "mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "PTSerif", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта
$maxWidth: 1920;

// Ширина контейнера
$mw: 1750;

//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "vars";
@import "normalize";

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: var(--clr-main);

    &.lock {
        overflow: hidden;
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: $mw + px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "keyframes";
@import "ui";
// Подключение общих элементов

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/ui/header.scss";
@import "./components/mainPage/main.scss";

@import "./components/ui/footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
