//<МИКСИНЫ>===================================
@import "mixins";
//</МИКСИНЫ>======================================

//<ШРИФТЫ>======================================

//<Подключаем шрифты>===================
@import "fonts";
//</Подключаем шрифты>==================

//<Иконочные шрифты>======================================

//</Иконочные шрифты>=====================================

//<Шрифт по умолчанию>============================
$font-family: "PTSerif", sans-serif;
//</Шрифт по умолчанию>=============================

//</ШРИФТЫ>======================================

//<ПЕРЕМЕННЫЕ>============================

// Ширина макета для адаптивного шрифта
$ms: 0.3s;
$maxWidth: 1920;

// Ширина контейнера
$mw: 1750;

//</ПЕРЕМЕННЫЕ>============================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
:root {
    --clr-light: #fff;
    --clr-main: #161616;
    --clr-border: #c2b7b0;
    --clr-border-2: #ebebeb;
    --clr-bg-main: #fffefd;
    --clr-bg-secondary: #f8f8f8;
    --clr-breadcrumb: #868686;
    --clr-green: #1bc50c;
    --clr-red: #f15b5b;
    --radius: 4px;
}

@import "normalize";

body {
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    color: var(--clr-main);
    background-color: var(--clr-bg-main);

    &.lock {
        overflow: hidden;
    }

    &.lock-sidebar {
        .wrapper::before {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-width: 320px;
    min-height: 100%;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: opacity $ms, visibility $ms;
    }
}
main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: $mw + px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================
// Подключение общих элементов
@import "keyframes";

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0, 0, 0);
}
.swiper-container-pointer-events {
    touch-action: pan-y;
}
.swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.swiper-slide-invisible-blank {
    visibility: hidden;
}
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
.swiper-container-autoheight {
    &,
    .swiper-slide {
        height: auto;
    }

    .swiper-wrapper {
        align-items: flex-start;
        transition-property: transform, height;
    }
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 60%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url(../img/ui/slider-arrow.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.swiper-button-prev {
    left: 0;
    right: auto;
}
.swiper-button-next {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}
.swiper-button-lock {
    display: none;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s;
    z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--clr-light);
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    background-color: var(--clr-breadcrumb);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper-pagination-lock {
    display: none;
}

@import "ui";

// Подключение общих элементов

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "./components/ui/header.scss";
@import "./components/ui/breadcrumbs.scss";

@import "./components/mainPage/main.scss";
@import "./components/mainPage/about.scss";
@import "./components/mainPage/bestsellers.scss";
@import "./components/mainPage/reviews.scss";
@import "./components/mainPage/philosophy.scss";
@import "./components/ui/own-desing.scss";
@import "./components/mainPage/advantages.scss";
@import "./components/mainPage/insta.scss";
@import "./components/ui/contacts.scss";

@import "./components/catalogPage/catalog.scss";
@import "./components/categoryPage/category.scss";
@import "./components/categoryPage/descr.scss";

@import "./components/faqPage/faq.scss";

@import "./components/productPage/product.scss";
@import "./components/productPage/sizes.scss";

@import "./components/cartPage/cart.scss";

@import "./components/checkoutPage/checkout.scss";

@import "./components/deliveryPage/delivery.scss";

@import "./components/aboutPage/about.scss";

@import "./components/fabricsPage/fabrics.scss";
@import "./components/fabricsPage/accent.scss";

@import "./components/creatorPage/acquint.scss";
@import "./components/creatorPage/mix.scss";
@import "./components/creatorPage/poplin.scss";
@import "./components/creatorPage/order.scss";

@import "./components/ui/footer.scss";

@import "./components/ui/confidential.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
// media max 1200 1600 1400 1100 500 768 992 576 1150 370 400 650
// media min 1201 992 1101
