.advantages {
    &__subtitle {
        margin-right: auto;
        margin-left: auto;
        max-width: 710px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin-right: 1%;
        margin-bottom: 1%;
        width: calc((100% / 2) - (1% / 2));
        text-align: center;

        @media (min-width: 1101px) {
            &:hover,
            &:focus {
                .advantages__title {
                    transform: translateY(-30%);
                    transition: transform $ms;
                }

                .advantages__info {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(20%);
                    transition: transform $ms, opacity $ms, visibility $ms;
                }
            }
        }

        @media (min-width: 1101px) {
            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        @media (max-width: 1100px) {
            margin-right: 0;
            width: 100%;
        }
    }

    &__image {
        position: relative;
        z-index: 0;
        border-radius: var(--radius);
        padding-top: 58.42%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            border-radius: var(--radius);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.65);
        }

        @media (max-width: 992px) {
            padding-top: 48.42%;
        }

        @media (max-width: 576px) {
            padding-top: 70%;
        }
    }

    &__item-info {
        position: absolute;
        left: 50%;
        top: 50%;
        padding-right: 25px;
        padding-left: 25px;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-size: 1.5vw;
        text-align: center;
        color: var(--clr-light);
        transform: translateY(100%);
        transition: transform $ms;

        @media (max-width: 1100px) {
            @include adaptiv-value("font-size", 24, 20, 1);

            margin-bottom: 15px;
            transform: translateY(0);
        }
    }

    &__info {
        font-size: 1.2vw;
        color: var(--clr-light);
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: transform $ms, opacity $ms, visibility $ms;

        @media (max-width: 1100px) {
            @include adaptiv-value("font-size", 18, 16, 1);

            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
