.philosophy {
    margin-top: 105px;
    padding-top: 195px;
    padding-bottom: 50px;
    background-image: url("");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ccc;

    @media (max-width: 768px) {
        margin-top: 70px;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    &__wrapper {
        margin-right: auto;
        margin-left: auto;
        max-width: 970px;
        text-align: center;
    }

    &__quote {
        @include adaptiv-value("font-size", 24, 18, 1);

        margin-top: 25px;
        margin-bottom: 125px;
        line-height: 105%;

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }
    }
}
