.product {
    &__wrapper {
        display: flex;

        @media (max-width: 1200px) {
            display: block;
        }
    }

    &__images-container {
        flex-shrink: 1;
        margin-right: 45px;
        width: 100%;
        max-width: 900px;

        @media (max-width: 1200px) {
            margin-bottom: 45px;
        }

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }
    }

    &__images-wrapper {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
            flex-wrap: nowrap;
        }
    }

    &__images-item {
        position: relative;
    }

    &__images-item--main {
        margin-bottom: 2px;
        padding-top: 76%;
        width: 100%;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__images-item--secondary {
        margin-right: 2px;
        margin-bottom: 2px;
        padding-top: 54%;
        width: calc((100% / 2) - (2px / 2));

        &:nth-child(2n + 1) {
            margin-right: 0;
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1200px) {
            margin-right: 0;
            margin-bottom: 0;
            padding-top: 76%;
        }
    }
}
.info-product {
    &__mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        .info-product__title {
            margin-right: 15px;
            margin-bottom: 0;
        }

        .info-product__article {
            margin-bottom: 0;
        }
    }
    &__article {
        margin-bottom: 25px;
        white-space: nowrap;
    }

    &__title {
        @include adaptiv-value("font-size", 42, 22, 1);

        margin-bottom: 15px;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;
    }

    &__descr {
        margin-bottom: 25px;
        max-width: 550px;
        line-height: 130%;

        @media (max-width: 1200px) {
            max-width: 100%;
        }
    }

    &__final {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
    }

    &__final-price {
        @include adaptiv-value("font-size", 42, 34, 1);

        margin-right: 25px;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;
    }

    &__final-calc {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid var(--clr-border);
        width: 125px;
    }

    &__final-calc--btn {
        padding: 15px;
    }

    &__final-calc--input {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 42px;
        text-align: center;
    }

    &__block {
        position: relative;

        .btn-primary {
            margin-top: 20px;
            margin-left: 0;
        }
        &:not(:last-child) {
            margin-bottom: 45px;
        }

        &--last {
            min-height: 500px;

            @media (max-width: 1200px) {
                min-height: 0;
            }
        }
    }

    &__size-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        .info-product__block-title {
            margin-bottom: 0;

            @media (max-width: 370px) {
                margin-bottom: 10px;
            }
        }

        @media (max-width: 370px) {
            display: block;
        }
    }

    &__block-title {
        @include adaptiv-value("font-size", 24, 20, 1);

        margin-bottom: 25px;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;
    }

    &__sizes {
    }

    &__size {
        display: flex;
        flex-wrap: wrap;
        max-width: 630px;
        font-size: 18px;

        @media (max-width: 1200px) {
            max-width: 800px;
        }
    }

    &__size-item {
        margin-bottom: 15px;
        width: calc(100% / 2);

        @media (max-width: 1600px) {
            width: 100%;

            &:nth-child(2n) {
                margin-bottom: 30px;
            }
        }

        @media (max-width: 1200px) {
            width: calc(100% / 2);

            &:nth-child(2n) {
                margin-bottom: 0;
            }
        }

        @media (max-width: 650px) {
            width: 100%;

            &:nth-child(2n) {
                margin-bottom: 30px;
            }
        }
    }

    &__size-item--label {
        position: relative;
        padding-left: 25px;
        white-space: nowrap;
        cursor: pointer;

        input {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);

            &:checked {
                + .info-product__size-item--radio::before {
                    display: block;
                }
            }
        }
    }
    &__size-item--radio {
        position: absolute;
        left: 0;
        top: 50%;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: var(--clr-border);
        transform: translateY(-50%);
        pointer-events: none;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            display: none;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: var(--clr-footer);
            transform: translate(-50%, -50%);
        }
    }

    &__size-item--price {
        pointer-events: none;
    }

    &__size-item--name {
        pointer-events: none;
    }

    &__colors {
        display: flex;
        flex-wrap: wrap;
    }

    &__color {
        margin-right: 2.5%;
        margin-bottom: 2.5%;
        width: calc((100% / 6) - (12.5% / 6));

        @media (min-width: 1201px) {
            &:nth-child(6n) {
                margin-right: 0;
            }
        }

        @media (max-width: 1200px) and (min-width: 769px) {
            width: calc((100% / 9) - (20% / 9));

            &:nth-child(9n) {
                margin-right: 0;
            }
        }

        @media (max-width: 768px) and (min-width: 501px) {
            width: calc((100% / 6) - (12.5% / 6));

            &:nth-child(6n) {
                margin-right: 0;
            }
        }

        @media (max-width: 500px) and (min-width: 371px) {
            width: calc((100% / 4) - (7.5% / 4));

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        @media (max-width: 370px) {
            width: calc((100% / 3) - (5% / 3));

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    &__color-preview {
        width: 77px;
        height: 77px;
    }

    &__additions-tooltip {
        @include adaptiv-value("font-size", 18, 16, 1);

        margin-bottom: 25px;
    }

    &__additions {
        display: flex;
        flex-wrap: wrap;

        input {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);

            &:checked {
                + .info-product__addition-name::after {
                    display: block;
                }
            }
        }
    }

    &__addition {
        margin-right: 2%;
        margin-bottom: 15px;
        width: calc((100% / 3) - (4% / 3));
        cursor: pointer;

        @media (min-width: 1201px) {
            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        @media (max-width: 1200px) and (min-width: 993px) {
            width: calc((100% / 6) - (10% / 6));

            &:nth-child(6n) {
                margin-right: 0;
            }
        }

        @media (max-width: 992px) and (min-width: 769px) {
            width: calc((100% / 5) - (8% / 5));

            &:nth-child(5n) {
                margin-right: 0;
            }
        }

        @media (max-width: 768px) and (min-width: 577px) {
            width: calc((100% / 4) - (6% / 4));

            &:nth-child(4n) {
                margin-right: 0;
            }
        }

        @media (max-width: 576px) and (min-width: 501px) {
            width: calc((100% / 3) - (4% / 3));

            &:nth-child(3n) {
                margin-right: 0;
            }
        }

        @media (max-width: 500px) {
            width: calc((100% / 2) - (2% / 2));

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    &__addition-image {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        max-width: 200px;
        max-height: 246px;
        cursor: pointer;

        img {
            width: 100%;
            height: 246px;
            object-fit: cover;

            @media (max-width: 1200px) {
                height: 167px;
            }
        }

        @media (max-width: 1200px) {
            max-width: 137px;
            max-height: 167px;
        }
    }

    &__addition-info--price {
        margin-bottom: 10px;
        font-family: "PlayfairDisplay", "PTSerif", sans-serif;
        font-size: 24px;
    }

    &__addition-name {
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 16px;
            height: 16px;
            background-color: var(--clr-border);
            transform: translateY(-50%);
        }

        &::after {
            content: "✓";
            position: absolute;
            left: 2px;
            top: 50%;
            display: none;
            transform: translateY(-50%);
        }
    }

    &__extras {
    }

    &__extra {
        margin-bottom: 12px;

        input {
            position: absolute;
            overflow: hidden;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);

            &:checked + .info-product__extra-name::after {
                display: block;
            }
        }
    }

    &__extra-name {
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 4px;
            width: 16px;
            height: 16px;
            background-color: var(--clr-border);
        }

        &::after {
            content: "✓";
            position: absolute;
            left: 2px;
            top: 2px;
            display: none;
        }
    }

    &__extra-price {
        cursor: pointer;
    }

    &__extra-text {
        cursor: pointer;
    }

    &__other {
        position: absolute;
        left: 0;
        top: 40px;
        z-index: 1;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
        width: calc(44vw + 15px);

        @media (max-width: 1200px) {
            position: static;
            width: 100%;
        }
    }

    &__other-wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        transition-property: transform;
    }

    &__other-slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        max-width: 381px;
        transition-property: transform;

        @media (max-width: 1200px) {
            max-width: 336px;
        }
    }

    &__other-image {
        margin-bottom: 15px;
        width: 100%;
        max-width: 381px;
        max-height: 378px;

        img {
            width: 100%;
            height: 100%;
            max-height: 378px;
            object-fit: cover;

            @media (max-width: 1200px) {
                max-height: 328px;
            }
        }

        @media (max-width: 1200px) {
            max-width: 336px;
            max-height: 328px;
        }
    }

    &__other-title {
        font-size: 24px;
    }
}
